{% if block.settings.url == null %}
  <button
    style="margin-top: {{ block.settings.margin_top }}px, margin-bottom: {{ block.settings.margin_bottom }}"
    class="block py-2 px-3 border text-black"
  >
    {{ block.settings.text }}
  </button>
{% else %}
  <a
    style="margin-top: {{ block.settings.margin_top }}px, margin-bottom: {{ block.settings.margin_bottom }}"
    class="block py-2 px-3 border text-black"
    href="{{ block.settings.url }}"
    target="_blank"
    rel="noopener"
  >
    {{ block.settings.text }}
  </a>
{% endif %}

{% schema %}
{
  "name": "Button",
  "settings": [
    { "type": "header", "content": "Button Settings" },
    {
      "type": "text",
      "label": "Button text",
      "id": "text",
      "default": "Click me"
    },
    {
      "type": "url",
      "label": "Button URL",
      "id": "url"
    },
    { "type": "header", "content": "Button Spacing" },
    {
      "type": "range",
      "label": "Margin top",
      "id": "margin_top",
      "default": 16,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "label": "Margin bottom",
      "id": "margin_bottom",
      "default": 16,
      "min": 0,
      "max": 100,
      "step": 1
    }
  ],
  "presets": [
    {
      "name": "Button"
    }
  ]
}
{% endschema %}
