<header id="header">
  <div class="container mx-auto p-2">
    <div class="flex items-center justify-between">
      {% comment %} Logo area {% endcomment %}
      <a href="/" id="logo">
        {% if section.settings.logo %}
          {{ section.settings.logo | image_url: width: 200 | image_tag }}
        {% else %}
          <strong class="text-4xl">{{ section.settings.shop_name }}</strong>
        {% endif %}
      </a>
      {% comment %} Menu area {% endcomment %}

      {% if section.settings.menu %}
        <nav id="menu" class="flex items-center gap-4">
          {% for link in linklists[section.settings.menu].links %}
            <li class="list-none">
              <a
                href="{{ link.url }}"
                class="header-link {% if link.active %} underline {% endif %}"
              >
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </nav>
      {% endif %}

      {% comment %} Check for social media links {% endcomment %}
      {%- assign has_fb = false -%}
      {% assign has_ytb = false %}
      {% assign has_ig = false %}

      {% if section.settings.facebook_url %}
        {% assign has_fb = true %}
      {% endif %}
      {% if section.settings.youtube_url %}
        {% assign has_ytb = true %}
      {% endif %}
      {% if section.settings.instagram_url %}
        {% assign has_ig = true %}
      {% endif %}

      {% comment %} Social media links {% endcomment %}
      {% if has_fb or has_ytb or has_ig %}
        <div id="social-media" class="flex items-center gap-4">
          {% if section.settings.facebook_url and section.settings.facebook_title %}
            <a
              href="{{ section.settings.facebook_url }}"

              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-500 hover:text-gray-600"
            >
              <span class="svg-wrapper">
                {{ 'icon-facebook.svg' | inline_asset_content }}
              </span>
            </a>
          {% endif %}
          {% if section.settings.youtube_url and section.settings.youtube_title %}
            <a
              href="{{ section.settings.youtube_url }}"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-500 hover:text-gray-600"
            >
              <span class="svg-wrapper">
                {{ 'icon-youtube.svg' | inline_asset_content }}
              </span>
            </a>
          {% endif %}
          {% if section.settings.instagram_url and section.settings.instagram_title %}
            <a
              href="{{ section.settings.instagram_url }}"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-500 hover:text-gray-600"
            >
              <span class="svg-wrapper">
                {{ 'icon-instagram.svg' | inline_asset_content }}
              </span>
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Branding"
    },
    {
      "type": "text",
      "id": "shop_name",
      "label": "Shop name",
      "default": "My Shop"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Shop logo"
    },
    { "type": "header", "content": "Menu" },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Social Media"
    },
    { "type": "header", "content": "Facebook" },
    {
      "type": "url",
      "id": "facebook_url",
      "label": "Facebook URL"
    },
    {
      "type": "text",
      "id": "facebook_title",
      "label": "Facebook title"
    },
    {
      "type": "header",
      "content": "YouTube"
    },
    {
      "type": "text",
      "id": "youtube_title",
      "label": "Youtube title"
    },
    {
      "type": "url",
      "id": "youtube_url",
      "label": "YouTube URL"
    },
    {
      "type": "header",
      "content": "Instagram"
    },
    {
      "type": "text",
      "id": "instagram_title",
      "label": "Instagram title"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram URL"
    }
  ]
}
{% endschema %}
